
{%  extends 'base.html' %}
{% load static %}




{% block content %}
         <!--header-->
    <header class="bg-dark text-white py-5">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-uppercase">
                <h1 class="mb-4">Shopping Cart</h1>
                <p class="lead">view Your cart... </p>
            </div>
        </div>
    </header>
        <br/>

        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}

                <div class="container">
                                    <br/>
                    <div class="card mb-3" >
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                            <center>
                              <h5 class="card-title">{{ product.name}}</h5>
                              <p class="card-text">{{ product.description }}</p>
                                  
                                {% if product.is_sale %}
                    
                    
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    &nbsp; &nbsp; Sale! &nbsp; &nbsp;
                                    <div class="bi-star-fill"></div>
                                </div>
                    
                                    <!-- Product price-->
                                <strike>${{ product.price }}</strike>
                                &nbsp;
                                ${{ product.sale_price }}
                                     
                                    
                                <br/>
                                In: {{ product.category }}
                                
                                {% else %}
                                    ${{ product.price }}
                                    <br/>ID: {{ product.id }}
                    
                                {% endif%}
                                    <br/><br/>
                                <div class="row justify-content-center">
                            <div class="col-md-2"style="width: 100px; height: 30px;">Quantity:</div>
                                         <div class="col-md-2">
                                      
                                        <select class="form-select form-select-sm" id="select{{product.id}}">

                                    {% for key, value in quantities.items %}
                                        {% if key  == product.id|slugify %}
                                    <option selected> {{ value }} </option>
                                        {% endif %}
                                    {% endfor %}

                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    </div>
                                </div>

                                    <br/><br>
                              <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
                              <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart"> update </button>
                                
                                
                            </center>             
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else %}
            
            Nothing in your cart....
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
        </div>



<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();

    var productid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
    product_id: $(this).data('index'),
    product_qty: $('#select' + productid + ' option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    actions: 'post'
      },
    
      success: function(json){
        console.log(json)
        document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    
      },
    
      error: function(xhr, errmsg, err){
            
      }
    
    
    
    });
    
    
})


</script>

{% endblock%}