{% extends 'base.html'%}
{% block content %}

        <!--header-->
    <header class="bg-dark text-white py-5">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-uppercase">
                <h1 class="mb-4">About Us ...</h1>
                <p class="lead">Welcome to About</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Vivamus iaculis nec neque id dapibus. Sed auctor elit quis sem pharetra pharetra eget ut nibh. Suspendisse ac velit nec mauris rutrum aliquam. Sed dictum dolor in pellentesque dapibus. Etiam non augue ut arcu bibendum elementum ut vel metus. Proin aliquam vulputate dui, ac bibendum dolor rhoncus eget. Quisque pellentesque elit at libero rutrum ullamcorper. Nulla purus neque, porta id enim ut, convallis egestas massa. Sed enim justo, sagittis vel auctor eu, porta ut elit. Maecenas sit amet interdum sapien, sit amet suscipit enim. Nam convallis consequat velit, et tincidunt risus accumsan a. Aliquam erat volutpat. Nam pretium imperdiet pellentesque. Donec a nisi elit. Nam mollis tempus lacinia. Curabitur purus dui, posuere non neque id, mollis faucibus orci.
                    
                        <br/></br/>
                        Nullam viverra eros eget eros porttitor feugiat. Pellentesque blandit velit in ipsum tempor, non malesuada metus ultricies. Sed sit amet dapibus turpis, ut aliquam nisl. Mauris varius metus tellus, et vehicula massa porttitor pharetra. Ut sagittis diam ante, quis pharetra ante luctus ut. Proin sed nulla nec diam rutrum tristique ac nec arcu. Nulla ultricies in mauris eu placerat. Fusce varius ac dolor id iaculis. Pellentesque condimentum vulputate diam, quis ornare felis sodales nec. Duis ultricies velit eget est lacinia ullamcorper id at sapien. Integer tincidunt metus vel nunc posuere, sed congue lorem cursus. Vivamus elit neque, feugiat ac fringilla ut, volutpat sit amet lorem. Suspendisse mollis vitae augue non rutrum. Cras ut elementum nisl, ut luctus nisl.
                        <br/></br/>
                        Aliquam fringilla, massa et interdum porttitor, quam odio dignissim eros, non imperdiet purus lectus sit amet eros. Phasellus nec quam in erat sagittis imperdiet at vel erat. Sed vel molestie est, eu consectetur odio. Nam pellentesque congue sodales. Morbi non eros in ipsum sodales tristique in vel enim. Suspendisse potenti. Vestibulum placerat massa quam, lobortis euismod dui gravida vitae. Praesent a pharetra est. Ut consectetur mattis risus sit amet lacinia. Quisque dignissim consequat ultricies. Vestibulum id dui quis lacus congue rhoncus ac at massa. Integer mi erat, interdum ut augue id, lobortis cursus enim. Quisque sit amet ornare nunc
                        </p>
                        <br/></br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}